<template>
    <div class="container">
        <app-header :maxQuotes="maxQuotes" :quoteCount="quotes.length"></app-header>
        <app-new-quote @quoteAdded="newQuote"></app-new-quote>
        <app-quote-grid :quotes="quotes"
        @deletedQuote="deleteQuote"></app-quote-grid>
        <div class="col-sm-12 text-center">
            <div class="alert alert-info">
                Info: Click on quote to delete it
            </div>
        </div>
    </div>
</template>

<script>
    import QuoteGrid from './components/QuoteGrid.vue';
    import NewQuote from './components/NewQuote.vue';
    import Header from './components/Header.vue';
    export default {
        data: function() {
            return {
                quotes: [
                    'Testetsttestsdsad'
                ],
                maxQuotes: 10
            }
        },
        components: {
            appQuoteGrid: QuoteGrid,
            appNewQuote: NewQuote,
            appHeader: Header
        },
        methods: {
            newQuote(quote){
                if (this.quotes.length >= this.maxQuotes)
                    return alert('Please delete some quotes first');
                this.quotes.push(quote);
            },
            deleteQuote(index){
                this.quotes.splice(index, 1);
            }
        },
    }
</script>

<style>
</style>
